body {
  width: 30vw;
  margin: 10% auto;
  background-color: #ccc;
}
.bigsquare {
  display: flex;
  border: 2px solid #0f0f0f;
  width: 30vw;
  height: 30vw;
}
.col-a {
  background-color: #50c878;
  width: 5vw;
  height: 5vw;
}
.col-b {
  background-color: #e3ecbf;
  width: 5vw;
  height: 5vw;
}